<div id="outer">

  <div class="inner">
      <p id="headerText">Maak een foto van uw document</p>
  </div>

  <div class="inner camera" *ngIf="!webcamImage">
    <webcam [height]="setHeightCamera()" [width]="setWidthCamera()" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class=" actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <!-- <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button> -->
    <br/>
   <!-- <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button> -->

    <br/>
  </div>

  <div class="inner camera" id="picture" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl"/>
    <br/>
    <button class="actionBtn" (click)="removeImage()">Delete</button>
    <button class="actionBtn" (click)="addToImageList()">Add to list</button>
  </div>


</div>
