.upload-container{
    display: flex;
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    color: white;
    justify-content: center;
    margin-top: 100px;
}

.upload-container{
    padding: 10px;
}

p{
    font-size: 20px;
}

.overview-container{
    padding-top: 30px;
    display: flex;
    justify-content: center
}