.app-container{
    background: rgb(122,3,125);
    background: linear-gradient(150deg, rgba(122,3,125,1) 0%, rgba(175,133,246,1) 33%, rgba(100,100,255,1) 65%, rgba(59,104,154,1) 100%);
    min-width: 100%;
    min-height: 100vh;
}

app-overview{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}